.m-auto{
  margin: auto !important;
}
/*margin-top*/
.mt-auto{
  margin-top: auto !important;
}
.mt-0{
  margin-top: 0 !important;
}
.mt-4{
  margin-top: 4px !important;
}
.mt-8{
  margin-top: 8px !important;
}
.mt-12{
  margin-top: 12px !important;
}
.mt-16{
  margin-top: 16px !important;
}
.mt-20{
  margin-top: 20px !important;
}
.mt-24{
  margin-top: 24px !important;
}
.mt-28{
  margin-top: 28px !important;
}
.mt-32{
  margin-top: 32px !important;
}
.mt-36{
  margin-top: 36px !important;
}
.mt-40{
  margin-top: 40px !important;
}
/*margin-bottom*/
.mb-auto{
  margin-bottom: auto !important;
}
.mb-0{
  margin-bottom: 0 !important;
}
.mb-4{
  margin-bottom: 4px !important;
}
.mb-8{
  margin-bottom: 8px !important;
}
.mb-12{
  margin-bottom: 12px !important;
}
.mb-16{
  margin-bottom: 16px !important;
}
.mb-20{
  margin-bottom: 20px !important;
}
.mb-24{
  margin-bottom: 24px !important;
}
.mb-28{
  margin-bottom: 28px !important;
}
.mb-32{
  margin-bottom: 32px !important;
}
.mb-36{
  margin-bottom: 36px !important;
}
.mb-40{
  margin-bottom: 40px !important;
}
/*margin-left*/
.ml-auto{
  margin-left: auto !important;
}
.ml-0{
  margin-left: 0 !important;
}
.ml-4{
  margin-left: 4px !important;
}
.ml-8{
  margin-left: 8px !important;
}
.ml-12{
  margin-left: 12px !important;
}
.ml-16{
  margin-left: 16px !important;
}
.ml-20{
  margin-left: 20px !important;
}
.ml-24{
  margin-left: 24px !important;
}
.ml-28{
  margin-left: 28px !important;
}
.ml-32{
  margin-left: 32px !important;
}
.ml-36{
  margin-left: 36px !important;
}
.ml-40{
  margin-left: 40px !important;
}
/*margin-right*/
.mr-auto{
  margin-right: auto !important;
}
.mr-0{
  margin-right: 0 !important;
}
.mr-4{
  margin-right: 4px !important;
}
.mr-8{
  margin-right: 8px !important;
}
.mr-12{
  margin-right: 12px !important;
}
.mr-16{
  margin-right: 16px !important;
}
.mr-20{
  margin-right: 20px !important;
}
.mr-24{
  margin-right: 24px !important;
}
.mr-28{
  margin-right: 28px !important;
}
.mr-32{
  margin-right: 32px !important;
}
.mr-36{
  margin-right: 36px !important;
}
.mr-40{
  margin-right: 40px !important;
}
/*padding*/

.pt-0{
  padding-top: 0 !important;
}
.pt-4{
  padding-top: 4px !important;
}
.pt-8{
  padding-top: 8px !important;
}
.pt-12{
  padding-top: 12px !important;
}
.pt-16{
  padding-top: 16px !important;
}
.pt-20{
  padding-top: 20px !important;
}
.pt-24{
  padding-top: 24px !important;
}
.pt-28{
  padding-top: 28px !important;
}
.pt-32{
  padding-top: 32px !important;
}
.pt-36{
  padding-top: 36px !important;
}
.pt-40{
  padding-top: 40px !important;
}
/*padding-bottom*/
.pb-auto{
  padding-bottom: auto !important;
}
.pb-0{
  padding-bottom: 0 !important;
}
.pb-4{
  padding-bottom: 4px !important;
}
.pb-8{
  padding-bottom: 8px !important;
}
.pb-12{
  padding-bottom: 12px !important;
}
.pb-16{
  padding-bottom: 16px !important;
}
.pb-20{
  padding-bottom: 20px !important;
}
.pb-24{
  padding-bottom: 24px !important;
}
.pb-28{
  padding-bottom: 28px !important;
}
.pb-32{
  padding-bottom: 32px !important;
}
.pb-36{
  padding-bottom: 36px !important;
}
.pb-40{
  padding-bottom: 40px !important;
}
/*padding-left*/
.pl-auto{
  padding-left: auto !important;
}
.pl-0{
  padding-left: 0 !important;
}
.pl-4{
  padding-left: 4px !important;
}
.pl-8{
  padding-left: 8px !important;
}
.pl-12{
  padding-left: 12px !important;
}
.pl-16{
  padding-left: 16px !important;
}
.pl-20{
  padding-left: 20px !important;
}
.pl-24{
  padding-left: 24px !important;
}
.pl-28{
  padding-left: 28px !important;
}
.pl-32{
  padding-left: 32px !important;
}
.pl-36{
  padding-left: 36px !important;
}
.pl-40{
  padding-left: 40px !important;
}
/*padding-right*/
.pr-0{
  padding-right: 0 !important;
}
.pr-4{
  padding-right: 4px !important;
}
.pr-8{
  padding-right: 8px !important;
}
.pr-12{
  padding-right: 12px !important;
}
.pr-16{
  padding-right: 16px !important;
}
.pr-20{
  padding-right: 20px !important;
}
.pr-24{
  padding-right: 24px !important;
}
.pr-28{
  padding-right: 28px !important;
}
.pr-32{
  padding-right: 32px !important;
}
.pr-36{
  padding-right: 36px !important;
}
.pr-40{
  padding-right: 40px !important;
}
.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.float-left{
  float: left !important;
}
.float-right{
  float: right !important;
}